<!-- light-blue - v3.3.0 - 2016-03-08 -->

<!DOCTYPE html>
<html>
<head>
    <title>KPI Business Monitor - kpibusinessmonitor.com</title>

        <link href="css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body>
    <div class="logo">
        <h4><a href="indexhome.html"><strong>KPI</strong> Business Monitor</a></h4>
    </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse">
            <ul id="side-nav" class="side-nav">
                <li class="">
                    <a href="indexhome.html"><i class="fa fa-home"></i> <span class="name">Indicadores</span></a>
                </li>
				<li class="">
                    <a href="form_account.html"><i class="fa fa-user"></i> <span class="name">Perfil</span></a>
                </li>
				<li class="">
                    <a href="landing.html"><i class="fa fa-th"></i> <span class="name">Metodología</span></a>
                </li>
				<li class="">
                    <a href="form_elements.html"><i class="fa fa-cog"></i> <span class="name">Configuración</span></a>
                </li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
                </li>
            </ul>
        </nav>    <div class="wrap">
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
					
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
					
                    <li class="hidden-xs"><a href="login.html"><i class="glyphicon glyphicon-off"></i></a></li>
					
                </ul>
            </div>
        </header>
        <div class="content container">
        <input id="tiempo" name="tiempo" type="hidden" value="12">
        <input id="quetiempo" name="quetiempo" type="hidden" value="m">
        <input id="quemes" name="quemes" type="hidden" value="">
        <div style="display: none;">
          <div id="jsonbaset"></div>
          <div id="datosobjetivot"></div>
          <div id="datosrealt"></div>
          <div id="datostendenciat"></div>
        </div>
        <div class="row" style="display: none;">
			<div class="col-md-12">
			<a href="indexhome.html"><input type="button" class="btn" style="background-color: #394B60;" value="Día"/></a>
			<input type="button" class="btn" style="background-color: #485E78;" value="Semana"/>
			<input type="button" class="btn" style="background-color: #485E78;" value="Mes"/>
			<input type="button" class="btn" style="background-color: #485E78;" value="Trimestre"/>
            <input type="text" id="date1" class="form-control input-transparent" readonly="readonly" placeholder="Fecha" style="width: 250px;text-align: center;display: inline-block;">
			</div>
		</div>
        <br>
        <!--<h2 class="page-title">Lisa Flor Cia.Ltda.<small> EXPOFLORES </small></h2>-->
        <div class="row">

          <div class="col-lg-12 col-sm-12">
            <section class="widget">
              <header>
                  <h5 id="nomindicador"></h5>
                  <!--<div class="widget-controls">
                      <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
                  </div>-->
              </header>
              <div class="body">
              <div id="campos" style="display: none;"></div>
                  <p id="desindicador"></p>
                  <b>FÓRMULA</b>
                  <p id="forindicador"></p>
              </div>
            </section>
          </div>

			<div class="col-lg-12 col-sm-12">
                <div class="row">
			        <div class="col-md-8 col-xs-8">
                        <span id="nombreindicador" style="color: #FFFFFF;font-size: 18px;font-weight: bolder;"></span>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <button type="button" id="btnagregar" onclick="agregadatos();" class="btn btn-success btn-md" data-placement="top" data-original-title=".btn .btn-primary .btn-lg">
                            Agregar Dato
                        </button>
                    </div>
                </div>
            <br>
			<section class="widget large" style="background-color: #708FBF">
                    <header style="text-align: center;">
                    <table style="width: 100%;">
                      <tr>
                        <td style="width: 50%;text-align: left;">
                          <span style="color: #283443;"><i class="fa fa-circle" aria-hidden="true"></i></span> Real&nbsp;&nbsp;&nbsp;
                          <span style="color: #24FF86;"><i class="fa fa-circle" aria-hidden="true"></i></span> Meta&nbsp;&nbsp;&nbsp<br>;
                          <span style="color: #F84952;"><i class="fa fa-circle" aria-hidden="true"></i></span> Base&nbsp;&nbsp;
                          <span style="color: #F7DD11;"><i class="fa fa-circle" aria-hidden="true"></i></span> Tendencia
                        </td>
                        <td style="width: 50%;text-align: right;">
                          <h4>
                            <span style="color: #FFFFFF;">Meta:</span> <span id="ultimoobjetivo" style="color: #FFFFFF;"></span><br>
                            <span style="color: #FFFFFF;">Último dato:</span> <span><span id="semaforo" style="color: #FFFFFF;display: none;"><i class="fa fa-circle" aria-hidden="true"></i></span> <span id="ultimoreal"></span></span><br>
                            <span style="color: #FFFFFF;">Base:</span> <span id="ultimobase" style="color: #FFFFFF;"></span>
                          </h4>
                        </td>
                      </tr>
                    </table>
						<div class="widget-controls">
                        </div>
                    </header>
                    <div id="sources-chart-line" class="body chart">
                        <svg></svg>
                    </div>
                </section>
            </div>
			
			
        </div>
        <div class="row">

            <div class="col-md-12">
			
			<section class="widget">
                    <div class="body">
                        <table class="table table-striped table-md mt-md mb-0">
                            <thead>
                            <tr>
                                <th style="width: 26%">Fecha</th>
                                <th style="width: 23%" class="text-align-center">Base</th>
                                <th style="width: 23%" class="text-align-center">Meta</th>
                                <th style="width: 23%" class="text-align-center">Dato</th>
                                <th style="width: 5%" class="text-align-center"></th>
                            </tr>
                            </thead>
                        </table>
                        <div style="height: 290px;overflow-x: hidden;overflow-y: auto;">
                        <table class="table table-striped table-bordered table-md mt-md mb-0">
                            <tbody id="tabladatos">

                            </tbody>
                        </table>
                        </div>
						<br/>
    					<div style="text-align:right">
      					  <button type="button" id="btnactualizadato" onclick="grabadatos();" style="display: none;" class="btn btn-primary btn-md" data-placement="top" data-original-title=".btn .btn-primary .btn-lg">
                              Grabar Datos
                          </button>
                          <button type="button" id="btncreadato" onclick="creardatos();" style="display: none;" class="btn btn-primary btn-md" data-placement="top" data-original-title=".btn .btn-primary .btn-lg">
                              Grabar Datos
                          </button>
    					</div>
    					<br/>
                    </div>
                </section>
                
            </div>
			
			
            
			
        </div>
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
<!-- common libraries. required for every page-->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/jquery-pjax/jquery.pjax.js"></script>
<script src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="lib/widgster/widgster.js"></script>
<script src="lib/underscore/underscore.js"></script>

<link id="bsdp-css" href="css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="js/bootstrap-datepicker.min.js" charset="UTF-8"></script>

<!-- common application js -->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<!-- common templates -->
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Light Version</div>
        <div>
            <a href="../light/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="setting clearfix">
        <div>White Version</div>
        <div>
            <a href="../white/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>

    <!-- page specific scripts -->
        <!-- page libs -->
        <script src="js/nvd3-custom-lb1.0/lib/d3.v2.min.js"></script>
        <script src="js/nvd3-custom-lb1.0/nv.d3.custom.js"></script>

        <!-- nvd3 models -->
        <script src="js/nvd3-custom-lb1.0/src/models/scatter.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/axis.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/legend.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/stackedArea.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/stackedAreaChart.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/line.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/pie.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/pieChartTotal.js"></script>
        <script src="js/nvd3-custom-lb1.0/stream_layers.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/lineChart.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/multiBar.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/multiBarChart.js"></script>

        <!-- page application js -->
        <script src="js/stat-charts.js"></script>

<script type="text/javascript">
$('#date1').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '-2y',
    autoclose: true
});
meses=['','Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];
mesesc=['','Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
$( document ).ready(function() {
  var url = window.location.href;
  var variable;
  url = unescape(url);
  //url = url.replace(/+/g, " ");
  url = url.toUpperCase();
  var parametro = valParam(url, "idind");
  var anio = valParam(url, "anio");
  llenardatos(parametro,anio);
});
function llenardatos(cual,anio){
  var apiURL='https://www.practisis.net/kpi/api2.php';
  var tiempo = parseInt($('#tiempo').val());
  $.post(apiURL,{
		action : 'DetalleIndicador',cual : cual,anio : anio
		}).done(function(response){
			//alert(response);
            var jsoncateg=JSON.parse(response);
		    var jsoncategorias=jsoncateg.Indicadores;
            for(var n=0;n<jsoncategorias.length;n++){
				var item=jsoncategorias[n];
                $('#nombreindicador').html(item.nombre);
                $('#nomindicador').html(item.nombre);
                $('#desindicador').html(item.descripcion);
                $('#campos').html(item.campos);
                var cuantosob = item.cuantos;
                if(cuantosob == 0){
                  $('#btnagregar').fadeIn();
                  $('#btnactualizadato').fadeOut();
                  $('#btncreadato').fadeIn();
                }else{
                  $('#btnagregar').fadeOut();
                  $('#btncreadato').fadeOut();
                  $('#btnactualizadato').fadeIn();
                }
                var formulareal = item.formula;
                var formulaaux = item.campos.split(",");

                var formulaver = '';
                var a = '';var b = '';var c = '';var d = '';var e = '';
                var f = '';var g = '';var h = '';var i = '';var j = '';
                if(formulaaux[0] != ''){
                  var a = formulaaux[0];
                }
                if(formulaaux[1] != ''){
                  var b = formulaaux[1];
                }
                if(formulaaux[2] != ''){
                  var c = formulaaux[2];
                }
                if(formulaaux[3] != ''){
                  var d = formulaaux[3];
                }
                if(formulaaux[4] != ''){
                  var e = formulaaux[4];
                }
                if(formulaaux[5] != ''){
                  var f = formulaaux[5];
                }
                if(formulaaux[6] != ''){
                  var g = formulaaux[6];
                }
                if(formulaaux[7] != ''){
                  var h = formulaaux[7];
                }
                if(formulaaux[8] != ''){
                  var i = formulaaux[8];
                }
                if(formulaaux[9] != ''){
                  var j = formulaaux[9];
                }

                var f = ["a","b","c","d","e","f","g","h","i","j"];
                var r = [a,b,c,d,e,f,g,h,i,j];
                //formulaver = formulareal.replaceArray(find, replace);
                $.each(f,function(l,v) {
                    formulareal = formulareal.replace(new RegExp('\\b' + v + '\\b', 'g'),r[l]);
                });

                $('#forindicador').html(formulareal);
                $('#jsonbaset').html(JSON.stringify(item.datosbaset));
                $('#datosobjetivot').html(JSON.stringify(item.datosobjetivot));
                $('#datosrealt').html(JSON.stringify(item.datosrealt));
                $('#datostendenciat').html(JSON.stringify(item.datostendenciat));
                var esporcentaje = item.esporcentaje;
                if(esporcentaje == 1){
                  var verporcentaje = '%';
                }else{
                  var verporcentaje = '';
                }
                $('#ultimoobjetivo').html(item.ultimoobjetivo+verporcentaje);
                $('#ultimoreal').html(item.ultimoreal+verporcentaje);
                $('#ultimobase').html(item.ultimobase+verporcentaje);
                //var campos = item.campos.replace(/,/g, "<br><br>");
                var campos = '';
                //alert(campos);
                var formulaaux = item.campos.split(",");
                for(var u=0;u < formulaaux.length;u++){
                 if(formulaaux[u].length > 30){
                   campos += formulaaux[u].slice(0,30)+'...<br><br>';
                 }else{
                   campos += formulaaux[u]+'<br><br>';
                 }
                }

                if(parseFloat(item.ultimoreal) > parseFloat(item.ultimoobjetivo) && parseFloat(item.ultimoreal) > parseFloat(item.ultimobase)){
                  //alert('verde');
                  document.getElementById('semaforo').style.color='#22DE0E';
                }else if(parseFloat(item.ultimoreal) > parseFloat(item.ultimobase) && parseFloat(item.ultimoreal) < parseFloat(item.ultimoobjetivo)){
                  //alert('amarillo');
                  document.getElementById('semaforo').style.color='#D7DE17';
                }else if(parseFloat(item.ultimoreal) < parseFloat(item.ultimobase) && parseFloat(item.ultimoreal) < parseFloat(item.ultimoobjetivo)){
                  //alert('rojo');
                  document.getElementById('semaforo').style.color='#DE0813';
                }else if(parseFloat(item.ultimoreal) < parseFloat(item.ultimobase) && parseFloat(item.ultimoreal) > parseFloat(item.ultimoobjetivo)){
                  //alert('amarillo');
                  document.getElementById('semaforo').style.color='#D7DE17';
                }

                var ingresodatos = '';
                var datosb = item.datosb;
                $.each(datosb, function(o, item) {

                    var quetiempoaux = item.id_tiempo;
                    var quetiempo = item.id_tiempo.substr(0,1);
                    var idtiempo = item.id_tiempo.substr(1);
                    if(quetiempo == 'm'){
                      var verfecha = mesesc[idtiempo];
                    }

                    if(item.a > 0){var vera = 'block';}else{var vera = 'none';}if(item.b > 0){var verb = 'block';}else{var verb = 'none';}
                    if(item.c > 0){var verc = 'block';}else{var verc = 'none';}if(item.d > 0){var verd = 'block';}else{var verd = 'none';}
                    if(item.e > 0){var vere = 'block';}else{var vere = 'none';}if(item.f > 0){var verf = 'block';}else{var verf = 'none';}
                    if(item.g > 0){var verg = 'block';}else{var verg = 'none';}if(item.h > 0){var verh = 'block';}else{var verh = 'none';}
                    if(item.i > 0){var veri = 'block';}else{var veri = 'none';}if(item.j > 0){var verj = 'block';}else{var verj = 'none';}

                    ingresodatos += '<tr>';
                        ingresodatos += '<td style="width: 26%"><b>'+verfecha+'</b><br>'+campos+'</td>';
                        ingresodatos += '<td style="width: 23%" class="text-align-right">';
                        ingresodatos += '<div style="display: '+vera+';"><br><input id="ba'+quetiempoaux+'" name="ba'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.a+'"/></div>';
                        ingresodatos += '<div style="display: '+verb+';"><div style="height: 5px;"></div><input id="bb'+quetiempoaux+'" name="bb'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.b+'"/></div>';
                        ingresodatos += '<div style="display: '+verc+';"><div style="height: 5px;"></div><input id="bc'+quetiempoaux+'" name="bc'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.c+'"/></div>';
                        ingresodatos += '<div style="display: '+verd+';"><div style="height: 5px;"></div><input id="bd'+quetiempoaux+'" name="bd'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.d+'"/></div>';
                        ingresodatos += '<div style="display: '+vere+';"><div style="height: 5px;"></div><input id="be'+quetiempoaux+'" name="be'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.e+'"/></div>';
                        ingresodatos += '<div style="display: '+verf+';"><div style="height: 5px;"></div><input id="bf'+quetiempoaux+'" name="bf'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.f+'"/></div>';
                        ingresodatos += '<div style="display: '+verg+';"><div style="height: 5px;"></div><input id="bg'+quetiempoaux+'" name="bg'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.g+'"/></div>';
                        ingresodatos += '<div style="display: '+verh+';"><div style="height: 5px;"></div><input id="bh'+quetiempoaux+'" name="bh'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.h+'"/></div>';
                        ingresodatos += '<div style="display: '+veri+';"><div style="height: 5px;"></div><input id="bi'+quetiempoaux+'" name="bi'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.i+'"/></div>';
                        ingresodatos += '<div style="display: '+verj+';"><div style="height: 5px;"></div><input id="bj'+quetiempoaux+'" name="bj'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value="'+item.j+'"/></div>';
                        ingresodatos += '<input id="idb'+quetiempoaux+'" name="idb'+quetiempoaux+'" type="hidden" value="'+item.id+'"/></td>';
                        ingresodatos += '<td style="width: 23%" class="text-align-right">';
                        ingresodatos += '<div style="display: '+vera+';"><br><input id="oa'+quetiempoaux+'" name="oa'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verb+';"><div style="height: 5px;"></div><input id="ob'+quetiempoaux+'" name="ob'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verc+';"><div style="height: 5px;"></div><input id="oc'+quetiempoaux+'" name="oc'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verd+';"><div style="height: 5px;"></div><input id="od'+quetiempoaux+'" name="od'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+vere+';"><div style="height: 5px;"></div><input id="oe'+quetiempoaux+'" name="oe'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verf+';"><div style="height: 5px;"></div><input id="of'+quetiempoaux+'" name="of'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verg+';"><div style="height: 5px;"></div><input id="og'+quetiempoaux+'" name="og'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verh+';"><div style="height: 5px;"></div><input id="oh'+quetiempoaux+'" name="oh'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+veri+';"><div style="height: 5px;"></div><input id="oi'+quetiempoaux+'" name="oi'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verj+';"><div style="height: 5px;"></div><input id="oj'+quetiempoaux+'" name="oj'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<input id="ido'+quetiempoaux+'" name="ido'+quetiempoaux+'" type="hidden" value=""/></td>';
                        ingresodatos += '<td style="width: 23%" class="text-align-right">';
                        ingresodatos += '<div style="display: '+vera+';"><br><input id="ra'+quetiempoaux+'" name="ra'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verb+';"><div style="height: 5px;"></div><input id="rb'+quetiempoaux+'" name="rb'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verc+';"><div style="height: 5px;"></div><input id="rc'+quetiempoaux+'" name="rc'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verd+';"><div style="height: 5px;"></div><input id="rd'+quetiempoaux+'" name="rd'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+vere+';"><div style="height: 5px;"></div><input id="re'+quetiempoaux+'" name="re'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verf+';"><div style="height: 5px;"></div><input id="rf'+quetiempoaux+'" name="rf'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verg+';"><div style="height: 5px;"></div><input id="rg'+quetiempoaux+'" name="rg'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verh+';"><div style="height: 5px;"></div><input id="rh'+quetiempoaux+'" name="rh'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+veri+';"><div style="height: 5px;"></div><input id="ri'+quetiempoaux+'" name="ri'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<div style="display: '+verj+';"><div style="height: 5px;"></div><input id="rj'+quetiempoaux+'" name="rj'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
                        ingresodatos += '<input id="idr'+quetiempoaux+'" name="idr'+quetiempoaux+'" type="hidden" value=""/></td>';
                        ingresodatos += '<td style="width: 5%" class="text-align-center"><span class="fa fa-trash"></span></td>';
                    ingresodatos += '</tr>';
                });

                $('#tabladatos').html(ingresodatos);

                var datoso = item.datoso;
                $.each(datoso, function(p, itemp) {

                var quetiempoauxo = itemp.id_tiempo;
                $('#oa'+quetiempoauxo).val(itemp.a);$('#ob'+quetiempoauxo).val(itemp.b);$('#oc'+quetiempoauxo).val(itemp.c);
                $('#od'+quetiempoauxo).val(itemp.d);$('#oe'+quetiempoauxo).val(itemp.e);$('#of'+quetiempoauxo).val(itemp.f);
                $('#og'+quetiempoauxo).val(itemp.g);$('#oh'+quetiempoauxo).val(itemp.h);$('#oi'+quetiempoauxo).val(itemp.i);
                $('#oj'+quetiempoauxo).val(itemp.j);$('#ido'+quetiempoauxo).val(itemp.id);

                });

                var datosr = item.datosr;
                $.each(datosr, function(q, itemr) {

                var quetiempoauxr = itemr.id_tiempo;
                $('#ra'+quetiempoauxr).val(itemr.a);$('#rb'+quetiempoauxr).val(itemr.b);$('#rc'+quetiempoauxr).val(itemr.c);
                $('#rd'+quetiempoauxr).val(itemr.d);$('#re'+quetiempoauxr).val(itemr.e);$('#rf'+quetiempoauxr).val(itemr.f);
                $('#rg'+quetiempoauxr).val(itemr.g);$('#rh'+quetiempoauxr).val(itemr.h);$('#ri'+quetiempoauxr).val(itemr.i);
                $('#rj'+quetiempoauxr).val(itemr.j);$('#idr'+quetiempoauxr).val(itemr.id);

                });

                var formatInteger = d3.format(",r");
                var formatIntegery = d3.format(",.f");

                nv.addGraph(function() {
                  var chart = nv.models.lineChart()
                      .margin({top: 5, bottom: 65, left: 75, right: 5})
                      .showLegend(false);

                  chart.yAxis
                      .showMaxMin(false)
                      .axisLabel(item.ejey)
                      .tickFormat(function(d) { return formatIntegery(d)+verporcentaje; });

                  chart.xAxis
                      .showMaxMin(true)
                      //.tickFormat(function(d) { return d3.time.format('%b %d')(new Date(d)) });
                      //alert(d3.format(',.r'))
                      //.tickFormat(function() { for(var h = 1; h <= 12; h++){ d3.format(h); } });
                      .tickFormat(function(d) { return meses[formatInteger(d)]; });

                  var myData = Formula();

                  d3.select('#sources-chart-line svg')
                      .datum(myData)
                      .transition().duration(500)
                      .call(chart);

                  PjaxApp.onResize(chart.update);
                  lineChart = chart;

                  return chart;
              });

			}

		}).fail(function(){
			alert('error');
		});
}
//alert(meses[7]);
function Formula() {
  var sin = [],sin2 = [],sin3 = [],sin4 = [],
      cos = [];
var base = 1000;
var objetivo = 1200;
var real = 1221.01;
var ultimodato = 0;
  var ultimidia = saber(11,2016);
  //alert($('#jsonbaset').html());
   var datosbaset = JSON.parse($('#jsonbaset').html());
    $.each(datosbaset, function(z, item) {
        console.log(item[z+1]);
        sin.push({x: z+1, y: item[z+1]});
    });
   var datosobjetivot = JSON.parse($('#datosobjetivot').html());
    $.each(datosobjetivot, function(y, item) {
        console.log(item[y+1]);
        sin2.push({x: y+1, y: item[y+1]});
        ultimodato = item[y+1];
    });
   var datosrealt = JSON.parse($('#datosrealt').html());
    $.each(datosrealt, function(k, item) {
        console.log(item[k+1]);
        //alert(k+1);
        cos.push({x: k+1, y: item[k+1]});
    });
    var datostendenciat = JSON.parse($('#datostendenciat').html());
    $.each(datostendenciat, function(t, item) {
        console.log(item[t+1]);
        sin3.push({x: t+1, y: item[t+1]});
    });

    //alert(ultimodato/2);
        sin4.push({x: 1, y: ultimodato/1.5});

    //alert($('#datosrealt').html());

  //Line chart data should be sent as an array of series objects.
  return [
    {
      values: cos,
      key: 'Real',
      color: '#283443',
      area: true
    },
    {
      values: sin2,
      key: 'Meta',
      color: '#24FF86'
    },
    {
      values: sin,
      key: 'Base',
      color: '#F84952'
    },
    {
      values: sin3,
      key: 'Tendencia',
      color: '#F7DD11'
    },
    {
      values: sin4,
      key: '',
      color: '#394B60'
    }
  ];
}
function grabadatos(){

  var d = document.getElementById('tabladatos').getElementsByTagName('input');
  var base = '';
  var cod = 1;
  	for ( var i = 0; i < d.length; i++ ) {
      var ww=d[i].id;
      var tiva = ww.substr(0,1);
      if(tiva=='b'){
        var quien = ww.substr(1);
        if(cod < 10){
        var baux = document.getElementById(tiva+quien).value;
        base += baux+'|';

        }
        if(cod == 10){
        var baux = document.getElementById(tiva+quien).value;
        var quienid = ww.substr(2);
        var idb = document.getElementById('id'+tiva+quienid).value;
        base += baux+'|'+idb+'@';
        cod = 0;
        }
        cod++;
      }
    }
    //alert(base);

  var d1 = document.getElementById('tabladatos').getElementsByTagName('input');
  var objetivo = '';
  var codo = 1;
  	for ( var io = 0; io < d1.length; io++ ) {
      var wwo=d1[io].id;
      var tivao = wwo.substr(0,1);
      if(tivao=='o'){
        var quieno = wwo.substr(1);
        if(codo < 10){
        var bauxo = document.getElementById(tivao+quieno).value;
        objetivo += bauxo+'|';
        }else if(codo == 10){
        var bauxo = document.getElementById(tivao+quieno).value;
        var quienido = wwo.substr(2);
        var ido = document.getElementById('id'+tivao+quienido).value;
        objetivo += bauxo+'|'+ido+'@';
        codo = 0;
        }
        codo++;
      }
    }
    //alert(objetivo);

  var d2 = document.getElementById('tabladatos').getElementsByTagName('input');
  var real = '';
  var codr = 1;
  	for ( var ir = 0; ir < d2.length; ir++ ) {
      var wwr=d2[ir].id;
      var tivar = wwr.substr(0,1);
      if(tivar=='r'){
        var quienr = wwr.substr(1);
        if(codr < 10){
        var bauxr = document.getElementById(tivar+quienr).value;
        real += bauxr+'|';
        }else if(codr == 10){
        var bauxr = document.getElementById(tivar+quienr).value;
        var quienidr = wwr.substr(2);
        var idr = document.getElementById('id'+tivar+quienidr).value;
        real += bauxr+'|'+idr+'@';
        codr = 0;
        }
        codr++;
      }
    }
    //alert(real);

  var apiURL='https://www.practisis.net/kpi/api2.php';
  var tiempo = $('#quetiempo').val();
  $.post(apiURL,{
  action : 'ActualizaIndicador',tiempo : tiempo,base : base,objetivo : objetivo,real : real
  }).done(function(response){
  	//alert(response);
    location.reload(true);
  }).fail(function(){
  	alert('error');
  });

}
function valParam(url, prmName){
    var prmUpper = prmName.toUpperCase();
    var prmPosic = url.indexOf(prmUpper);
    var sepPos;
    if (prmPosic != -1){
     var sepPos = url.indexOf("&", prmPosic);
     if (sepPos != -1){
      return url.substring(prmPosic + prmUpper.length + 1, sepPos);
     } else {
      return url.substring(prmPosic + prmUpper.length + 1, url.length);
     }
    } else {
     return "";
    }
}
function agregadatos(){
  var ingresodatos = '';
  var fecha = new Date();
  var mes = fecha.getMonth()+1;

      var campos = $('#campos').html();
      var camposaux = campos.split(",");
      var camposreales = campos.replace(/,/g, "<br><br>");
      //alert(camposaux.length)
      var quetiempo = $('#quetiempo').val();
      if(quetiempo == 'm'){
        var verfecha = mesesc[mes];
        var quetiempoaux = mes;
      }

      $('#quemes').val(mes);

      var vera = 'none';var verb = 'none';var verc = 'none';var verd = 'none';var vere = 'none';
      var verf = 'none';var verg = 'none';var verh = 'none';var veri = 'none';var verj = 'none';
      for(var r=1; r<=camposaux.length; r++){
        if(r == 1){var vera = 'block';}if(r == 2){var verb = 'block';}
        if(r == 3){var verc = 'block';}if(r == 4){var verd = 'block';}
        if(r == 5){var vere = 'block';}if(r == 6){var verf = 'block';}
        if(r == 7){var verg = 'block';}if(r == 8){var verh = 'block';}
        if(r == 9){var veri = 'block';}if(r == 10){var verj = 'block';}
      }

      ingresodatos += '<tr>';
          ingresodatos += '<td style="width: 26%"><b>'+verfecha+'</b><br>'+camposreales+'</td>';
          ingresodatos += '<td style="width: 23%" class="text-align-right">';
          ingresodatos += '<div style="display: '+vera+';"><br><input id="ba'+quetiempoaux+'" name="ba'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verb+';"><div style="height: 5px;"></div><input id="bb'+quetiempoaux+'" name="bb'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verc+';"><div style="height: 5px;"></div><input id="bc'+quetiempoaux+'" name="bc'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verd+';"><div style="height: 5px;"></div><input id="bd'+quetiempoaux+'" name="bd'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+vere+';"><div style="height: 5px;"></div><input id="be'+quetiempoaux+'" name="be'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verf+';"><div style="height: 5px;"></div><input id="bf'+quetiempoaux+'" name="bf'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verg+';"><div style="height: 5px;"></div><input id="bg'+quetiempoaux+'" name="bg'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verh+';"><div style="height: 5px;"></div><input id="bh'+quetiempoaux+'" name="bh'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+veri+';"><div style="height: 5px;"></div><input id="bi'+quetiempoaux+'" name="bi'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verj+';"><div style="height: 5px;"></div><input id="bj'+quetiempoaux+'" name="bj'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<input id="idb'+quetiempoaux+'" name="idb'+quetiempoaux+'" type="hidden" value="0"/></td>';
          ingresodatos += '<td style="width: 23%" class="text-align-right">';
          ingresodatos += '<div style="display: '+vera+';"><br><input id="oa'+quetiempoaux+'" name="oa'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verb+';"><div style="height: 5px;"></div><input id="ob'+quetiempoaux+'" name="ob'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verc+';"><div style="height: 5px;"></div><input id="oc'+quetiempoaux+'" name="oc'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verd+';"><div style="height: 5px;"></div><input id="od'+quetiempoaux+'" name="od'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+vere+';"><div style="height: 5px;"></div><input id="oe'+quetiempoaux+'" name="oe'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verf+';"><div style="height: 5px;"></div><input id="of'+quetiempoaux+'" name="of'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verg+';"><div style="height: 5px;"></div><input id="og'+quetiempoaux+'" name="og'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verh+';"><div style="height: 5px;"></div><input id="oh'+quetiempoaux+'" name="oh'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+veri+';"><div style="height: 5px;"></div><input id="oi'+quetiempoaux+'" name="oi'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verj+';"><div style="height: 5px;"></div><input id="oj'+quetiempoaux+'" name="oj'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<input id="ido'+quetiempoaux+'" name="ido'+quetiempoaux+'" type="hidden" value=""/></td>';
          ingresodatos += '<td style="width: 23%" class="text-align-right">';
          ingresodatos += '<div style="display: '+vera+';"><br><input id="ra'+quetiempoaux+'" name="ra'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verb+';"><div style="height: 5px;"></div><input id="rb'+quetiempoaux+'" name="rb'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verc+';"><div style="height: 5px;"></div><input id="rc'+quetiempoaux+'" name="rc'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verd+';"><div style="height: 5px;"></div><input id="rd'+quetiempoaux+'" name="rd'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+vere+';"><div style="height: 5px;"></div><input id="re'+quetiempoaux+'" name="re'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verf+';"><div style="height: 5px;"></div><input id="rf'+quetiempoaux+'" name="rf'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verg+';"><div style="height: 5px;"></div><input id="rg'+quetiempoaux+'" name="rg'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verh+';"><div style="height: 5px;"></div><input id="rh'+quetiempoaux+'" name="rh'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+veri+';"><div style="height: 5px;"></div><input id="ri'+quetiempoaux+'" name="ri'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<div style="display: '+verj+';"><div style="height: 5px;"></div><input id="rj'+quetiempoaux+'" name="rj'+quetiempoaux+'" type="text" class="form-control input-transparent" style="text-align: right;" value=""/></div>';
          ingresodatos += '<input id="idr'+quetiempoaux+'" name="idr'+quetiempoaux+'" type="hidden" value=""/></td>';
          ingresodatos += '<td style="width: 5%" class="text-align-center"><span class="fa fa-trash"></span></td>';
      ingresodatos += '</tr>';

  $('#tabladatos').html(ingresodatos);
}
function creardatos(){

  var d = document.getElementById('tabladatos').getElementsByTagName('input');
  var base = '';
  var cod = 1;
  	for ( var i = 0; i < d.length; i++ ) {
      var ww=d[i].id;
      var tiva = ww.substr(0,1);
      if(tiva=='b'){
        var quien = ww.substr(1);
        if(cod < 10){
        var baux = document.getElementById(tiva+quien).value;
          base += baux+'|';

        }
        if(cod == 10){
        var baux = document.getElementById(tiva+quien).value;
        var quienid = ww.substr(2);
        var idb = document.getElementById('id'+tiva+quienid).value;
          base += baux+'|'+idb+'@';
        cod = 0;
        }
        cod++;
      }
    }
    //alert(base);

  var d1 = document.getElementById('tabladatos').getElementsByTagName('input');
  var objetivo = '';
  var codo = 1;
  	for ( var io = 0; io < d1.length; io++ ) {
      var wwo=d1[io].id;
      var tivao = wwo.substr(0,1);
      if(tivao=='o'){
        var quieno = wwo.substr(1);
        if(codo < 10){
        var bauxo = document.getElementById(tivao+quieno).value;
          objetivo += bauxo+'|';
        }else if(codo == 10){
        var bauxo = document.getElementById(tivao+quieno).value;
        var quienido = wwo.substr(2);
        var ido = document.getElementById('id'+tivao+quienido).value;
          objetivo += bauxo+'|'+ido+'@';
        codo = 0;
        }
        codo++;
      }
    }
    //alert(objetivo);

  var d2 = document.getElementById('tabladatos').getElementsByTagName('input');
  var real = '';
  var codr = 1;
  	for ( var ir = 0; ir < d2.length; ir++ ) {
      var wwr=d2[ir].id;
      var tivar = wwr.substr(0,1);
      if(tivar=='r'){
        var quienr = wwr.substr(1);
        if(codr < 10){
        var bauxr = document.getElementById(tivar+quienr).value;
        real += bauxr+'|';
        }else if(codr == 10){
        var bauxr = document.getElementById(tivar+quienr).value;
        var quienidr = wwr.substr(2);
        var idr = document.getElementById('id'+tivar+quienidr).value;
        real += bauxr+'|'+idr+'@';
        codr = 0;
        }
        codr++;
      }
    }
    var quemes = $('#quemes').val();
    //alert(real+'**'+quemes);

  //if(base != '' && objetivo != '' && real != ''){

  var url = window.location.href;
  var variable;
  url = unescape(url);
  url = url.toUpperCase();
  var parametro = valParam(url, "idind");
  var anio = valParam(url, "anio");

    var apiURL='https://www.practisis.net/kpi/api2.php';
    var tiempo = $('#quetiempo').val();
    $.post(apiURL,{
    action : 'CreaDatosIndicador',tiempo : tiempo,base : base,objetivo : objetivo,real : real,quemes : quemes,anio : anio,indicador : parametro
    }).done(function(response){
    	//alert(response);
      location.reload(true);
    }).fail(function(){
    	alert('error');
    });
  //}

}
function dividir(txt) {
  numLetras = 30;
  palabras = txt.split(' ');
  cad = '';
  i=0;
  while (i < palabras.length) {
    tot=0;
   if (palabras[i].length >= numLetras) {
      cad += ' '+palabras[i]+'';
      i++
    }
    else while (true) {
      if (tot + palabras[i].length + ((tot>0) ? 1 : 0) <= numLetras) {
        cad += ' '+palabras[i];
        tot += palabras[i].length + ((tot>0) ? 1 : 0);
        i++;
        if (i > palabras.length-1) break;
      }
      else {
        cad+='';
        break;
      }
    }
  }
  return cad;
}
</script>
</body>
</html>