<!-- light-blue - v3.3.0 - 2016-03-08 -->

<!DOCTYPE html>
<html>
<head>
    <title>KPI Business Monitor - kpibusinessmonitor.com</title>

        <link href="css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body>
    <div class="logo">
        <h4><a href="indexhome.html"><strong>KPI</strong> Business Monitor</a></h4>
    </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse">
            <ul id="side-nav" class="side-nav">
                <li class="">
                    <a href="indexhome.html"><i class="fa fa-home"></i> <span class="name">Indicadores</span></a>
                </li>
				<li class="">
                    <a href="form_account.html"><i class="fa fa-user"></i> <span class="name">Perfil</span></a>
                </li>
				<li class="">
                    <a href="landing.html"><i class="fa fa-th"></i> <span class="name">Metodología</span></a>
                </li>
				<li class="">
                    <a href="form_elements.html"><i class="fa fa-cog"></i> <span class="name">Configuración</span></a>
                </li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
                </li>
            </ul>

        </nav>    <div class="wrap">
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">

                    <li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
					
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
					
                    <li class="hidden-xs"><a href="login.html"><i class="glyphicon glyphicon-off"></i></a></li>
					
                </ul>
            </div>
        </header>
        <div class="content container">
		<div class="row" style="display: none;">
			<!--<div class="col-lg-6">
				<h2 class="page-title">Lisa Flor Cia.Ltda.<small> EXPOFLORES </small></h2>
			</div>-->
			<div class="col-md-10">
			<a href="indexhome.html"><input type="button" class="btn" style="background-color: #394B60;" value="Día"/></a>
			<input type="button" class="btn" style="background-color: #485E78;" value="Semana"/>
			<input type="button" class="btn" style="background-color: #485E78;" value="Mes"/>
			<input type="button" class="btn" style="background-color: #485E78;" value="Trimestre"/>
			</div>
            <div class="col-md-2" style="margin-top: 5px;">
            <input type="text" id="date1" class="form-control input-transparent" placeholder="Fecha" readonly="readonly" style="width: 100%;text-align: center;">
            </div>
		</div>
        <br>
          <div id="allindicadores" class="row">

          </div>
          <div id="jsons" style="display: none;"></div>
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
<!-- common libraries. required for every page-->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/jquery-pjax/jquery.pjax.js"></script>
<script src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="lib/widgster/widgster.js"></script>
<script src="lib/underscore/underscore.js"></script>

<!-- common application js -->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>

    <!-- page specific scripts -->
        <!-- page libs -->
        <script src="js/nvd3-custom-lb1.0/lib/d3.v2.min.js"></script>
        <script src="js/nvd3-custom-lb1.0/nv.d3.custom.js"></script>

        <link rel="stylesheet" href="css/default.date.css">

        <!-- nvd3 models -->
        <script src="js/nvd3-custom-lb1.0/src/models/scatter.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/axis.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/legend.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/stackedArea.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/stackedAreaChart.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/line.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/pie.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/pieChartTotal.js"></script>
        <script src="js/nvd3-custom-lb1.0/stream_layers.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/lineChart.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/multiBar.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/multiBarChart.js"></script>

<link id="bsdp-css" href="css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="js/bootstrap-datepicker.min.js" charset="UTF-8"></script>



        <!-- page application js -->
<!--<script src="js/stat-charts.js"></script>-->
<script type="text/javascript">
$('#date1').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '-2y',
    autoclose: true
});
meses=['','Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];
$( document ).ready(function() {
  llenardatos();
});
function llenardatos(){
  var apiURL='https://www.practisis.net/kpi/api2.php';
  var tiempo = parseInt($('#tiempo').val());
  $.post(apiURL,{
		action : 'Indicadores'
		}).done(function(response){
			//alert(response);
            var jsoncateg=JSON.parse(response);
		    var jsoncategorias=jsoncateg.Indicadores;
            //alert(jsoncategorias.length);
            var ingresopaneles = '';
            var ingresojson = '';
            for(var n=0;n<jsoncategorias.length;n++){
				var item=jsoncategorias[n];
                //alert(item.id);
                var ididen = item.id;
                ingresojson += '<div id="jsonbaset'+ididen+'">'+JSON.stringify(item.datosbaset)+'</div>';
                ingresojson += '<div id="datosobjetivot'+ididen+'">'+JSON.stringify(item.datosobjetivot)+'</div>';
                ingresojson += '<div id="datosrealt'+ididen+'">'+JSON.stringify(item.datosrealt)+'</div>';
                ingresojson += '<div id="datostendenciat'+ididen+'">'+JSON.stringify(item.datostendenciat)+'</div>';
                $('#jsons').html(ingresojson);

                var esporcentaje = item.esporcentaje;
                if(esporcentaje == 1){
                  var verporcentaje = '%';
                }else{
                  var verporcentaje = '';
                }

                if(parseFloat(item.ultimoreal) > parseFloat(item.ultimoobjetivo) && parseFloat(item.ultimoreal) > parseFloat(item.ultimobase)){
                  var color = '#22DE0E';
                }else if(parseFloat(item.ultimoreal) > parseFloat(item.ultimobase) && parseFloat(item.ultimoreal) < parseFloat(item.ultimoobjetivo)){
                  var color = '#D7DE17';
                }else if(parseFloat(item.ultimoreal) < parseFloat(item.ultimobase) && parseFloat(item.ultimoreal) < parseFloat(item.ultimoobjetivo)){
                  var color = '#DE0813';
                }else if(parseFloat(item.ultimoreal) < parseFloat(item.ultimobase) && parseFloat(item.ultimoreal) > parseFloat(item.ultimoobjetivo)){
                  var color = '#D7DE17';
                }

                //var campos = item.campos.replace(/,/g, "<br><br>");
                //alert(campos);<span id="semaforo" style="color: '+color+';">

                //ingresopaneles += '<div class="row">';
                    ingresopaneles += '<a href="detallegraf.html?idind='+ididen+'&anio='+item.anio+'">';
          			ingresopaneles += '<div class="col-lg-6 col-sm-6">';
                    ingresopaneles += '<div class="kpititulo" style="color: #FFFFFF;font-size: 16px;text-align: center;width: 100%;font-weight: bolder;">'+item.nombre+'</div>';
          			ingresopaneles += '<section class="widget large">';
                              ingresopaneles += '<header>';
                              ingresopaneles += '<table style="width: 100%;">';
                                ingresopaneles += '<tr>';
                                  ingresopaneles += '<td style="width: 50%;">';
                                    ingresopaneles += '<span style="color: #283443;"><i class="fa fa-circle" aria-hidden="true"></i></span> Real&nbsp;&nbsp;&nbsp;';
                                    ingresopaneles += '<span style="color: #24FF86;"><i class="fa fa-circle" aria-hidden="true"></i></span> Meta&nbsp;&nbsp;&nbsp;';
                                    ingresopaneles += '<span style="color: #F84952;"><i class="fa fa-circle" aria-hidden="true"></i></span> Base&nbsp;&nbsp;&nbsp;';
                                    ingresopaneles += '<span style="color: #F7DD11;"><i class="fa fa-circle" aria-hidden="true"></i></span> Tendencia';
                                  ingresopaneles += '</td>';
                                  ingresopaneles += '<td style="width: 50%;text-align: right;">';
                                    ingresopaneles += '<h4>';
                                    ingresopaneles += 'Meta: <span id="ultimoobjetivo">'+item.ultimoobjetivo+verporcentaje+'</span><br>';
                                    ingresopaneles += '<span>Último dato: </span> <span id="ultimoreal">'+item.ultimoreal+verporcentaje+'</span></span><br>';
                                    ingresopaneles += 'Base: <span id="ultimobase">'+item.ultimobase+verporcentaje+'</span>';
                                    ingresopaneles += '</h4>';
                                  ingresopaneles += '</td>';
                                ingresopaneles += '</tr>';
                              ingresopaneles += '</table>';
                              ingresopaneles += '</header>';
                              ingresopaneles += '<div id="sources-chart-line'+ididen+'" class="body chart">';
                                  ingresopaneles += '<svg style="height: 250px;width: 100%;"></svg>';
                              ingresopaneles += '</div>';
                          ingresopaneles += '</section>';
                      ingresopaneles += '</div>';
          			ingresopaneles += '</a>';
                //ingresopaneles += '</div>';
                $('#allindicadores').html(ingresopaneles);

                grafica(ididen,item.ejey,d3.format(",r"),d3.format(",.f"),verporcentaje);

			}

		}).fail(function(){
			alert('error');
		});
}
function Formula(quien) {
  var sin = [],sin2 = [],sin3 = [],sin4 = [],
      cos = [];
  //var ultimidia = saber(11,2016);
  //alert(quien);
  var ultimodato = 0;
   var datosbaset = JSON.parse($('#jsonbaset'+quien).html());
    $.each(datosbaset, function(z, item) {
        //console.log(item[z]);
        sin.push({x: z+1, y: item[z+1]});
    });
   var datosobjetivot = JSON.parse($('#datosobjetivot'+quien).html());
    $.each(datosobjetivot, function(y, item) {
        sin2.push({x: y+1, y: item[y+1]});
        ultimodato = item[y+1];
    });
   var datosrealt = JSON.parse($('#datosrealt'+quien).html());
    $.each(datosrealt, function(k, item) {
        cos.push({x: k+1, y: item[k+1]});
    });
    var datostendenciat = JSON.parse($('#datostendenciat'+quien).html());
    $.each(datostendenciat, function(t, item) {
        sin3.push({x: t+1, y: item[t+1]});
    });

    sin4.push({x: 1, y: ultimodato/1.5});

  return [
    {
      values: cos,
      key: 'Real',
      color: '#283443',
      area: true
    },
    {
      values: sin2,
      key: 'Meta',
      color: '#24FF86',
      height: 160
    },
    {
      values: sin,
      key: 'Base',
      color: '#F84952'
    },
    {
      values: sin3,
      key: 'Tendencia',
      color: '#F7DD11'
    },
    {
      values: sin4,
      key: '',
      color: '#394B60'
    }
  ];
}
function grafica(quien,nombre,formatInteger,formatIntegery,verporcentaje){
  //var formatInteger = d3.format(",r");
  //var formatIntegery = d3.format(",.f");
  //alert(quien)
  nv.addGraph(function() {
      var chart = nv.models.lineChart()
          .margin({top: 5, bottom: 45, left: 75, right: 5})
          //.height(150)
          .showLegend(false);

      chart.yAxis
          .showMaxMin(false)
          .axisLabel(nombre)
          .tickFormat(function(d) { return formatIntegery(d)+verporcentaje; });

      chart.xAxis
          .showMaxMin(true)
          .tickFormat(function(d) { return meses[formatInteger(d)]; });

      var myData = Formula(quien);

      d3.select('#sources-chart-line'+quien+' svg')
          .datum(myData)
          .transition().duration(500)
          .call(chart);

      PjaxApp.onResize(chart.update);
      lineChart = chart;

      return chart;
  });
}
</script>
<style>
.kpititulo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 70px;
}
</style>
</body>
</html>